@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span{
    color: black;
    text-align: center;
    line-height: 1.25;
    padding-bottom: 16px;
}

p {
    font-size: 16px;
    line-height: 1.5 ;
}