@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span{
    color: black;
    text-align: center;
    line-height: 1.25;
    padding-bottom: 16px;
}

html{
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    position: relative;
}

p {
    font-size: 16px;
    line-height: 1.5;
}
li{
    list-style-type: none;
}

.flex-1 {
    flex: 1;
}

.flex {
    display: flex;
}

.row{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 40px;
}
 
.text-purple{
    color:#4361ee;
}

section:nth-child(odd){
    background-color:#4362ee5c;
}

.container{
    padding: 50px 0;
}

.section__title{
    margin-bottom: 20px;
}

.link__hover-effect:after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after{
    width: 100%;
    left: 0;
}

.link__hover-effect__white:after{
    background-color:white;
}

.link__hover-effect__black:after{
    background-color: #1c1d25;
}

/* NAVIGATION BAR */

nav{
    height: 100px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.nav__link--list{
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.nav__link--anchor--primary{

    background-color: #4361ee;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
    margin: 0 auto;
}

.nav__link--anchor--primary:hover {
    background-color: #3a0ca3;
    cursor: pointer;
}

.personal__logo {
    font-size: 24px;
    color: #4361ee;
    margin: 0 12px;
    font: bold;
}

/* ABOUT ME TEXT */

#about-me {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
.about-me__info{
    display: flex;
    flex-direction: column;
}
.about-me__info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.about-me__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow:0 8px 16px #4361ee;
    margin-bottom: 28px;
    animation: animate-profile-picture 800ms 200ms backwards;
}

@keyframes animate-profile-picture{
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.about-me__image {
    width: 100%;
}

.about-me__info--title{
    margin-bottom: 16px;
    animation: fade-up 650ms 400ms backwards;
}

.about-me__info--para {
    line-height: 1.5;
    font-size: 20px;
    margin-bottom: 28px;
    animation: fade-up 650ms 400ms backwards;
}

.about-me__link{
    font-size: 28px;
    text-decoration: none;
    color: black;
    padding: 0 16px;
    animation: fade-up 650ms 400ms backwards;
}

@keyframes fade-up {
    0% {
        opacity:0;
        transform: translateY (40px);
    }
    100% {
        opacity:1;
        transform: translateY (0);
    }
}

.about-me__image__container{
    flex: 1;
    display: flex; 
    align-items: center;
    margin-top: 28px;
    margin-bottom: 28px;
}

.about-me__img {
    width: 100%;
}

/* Tech Stack */

.language{
    width:25%;
    display: flex;
    justify-content: center;
    position: relative;
}

.language__image--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.language__image{
    width: 100%;
    max-width: 100px;
    transition: all 300ms ease;
}
.language:hover .language__image{
    filter: brightness(80%);
    transform: scale(.9);
    opacity:0.86;
}
.language__list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.language__name{
    position: absolute;
    padding: 0;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms ease;
    font-size: 20px;
    opacity: 0;
}

.language:hover .language__name{
    transform: scale(1);
    opacity:1;
}

/* projects */

.project{
    margin-bottom: 135px;
}

.project:last-child{
    margin-bottom: 40px;
}

.project__image {
    width: 100%;
    transition: all 500ms ease;
}

.project__wrapper{
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.project__wrapper:before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 450ms ease;
    z-index: 2;
}

.project:hover .project__wrapper:before{
    opacity: 0.7;
}

.project:hover .project__image {
    transform: scale(1.07);
    filter: blur(5px);
}

.project:hover .project__description{
    opacity: 1;
    transform: translateY(-50%);
}
.project__list{
    padding-top: 40px;
}

.project__description{
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    max-width:550px;
    z-index: 3;
    opacity: 0;
    transition: opacity 450ms ease;
    transition: transform 450ms ease;
}
.project__description__title{
    font-size: 40px;
}

.project__description__para {
    margin: 16px 0;
}

.project__description__link{
  font-size: 20px;  
  margin-right: 16px;
  text-decoration: none;
}

.project__description__title, 
.project__description__subtitle,
.project__description__para,
.project__description__link{
    text-align: left;
    color: #fff;
}

/* Footer */

footer{
    background-color: #020105d0;
}

.footer__row{
    padding: 8% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__social--list{
    margin-bottom: 44px;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;

}


.footer__logo__image{
   width: 70px;
   height: 70px; 
}

.footer__social--link, .footer__copyright, .footer__logo__popper{
    color: #fff;
    text-decoration: none;
}

.footer__anchor{
    margin-bottom: 20px;
    position: relative;
}

.footer__anchor:hover .footer__logo__popper{
    transform: translateX(45px);
    opacity: 1;
}

.footer__logo__popper {
    position:absolute;
    right: 0;
    top: 30px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;

}

/*responsive* small phone, tablet, large smartphone*/

@media (max-width: 768px) {
    nav{ 
        height: 68px;
    }
    h1{
        font-size: 28px;
    }
    .about-me__info--para{
        font-size: 18px;
    }
    .language{
        width: calc(100%/2)
    }
    .project__description__para{
        font-size: 14px;
    }
    .project__description{
        padding-right: 30px;
        left: 30px;
    }
}

/*Small Phones*/
@media (max-width:480px) {
    .nav__link {
        display: none;
    }

    .project__description{
        padding: 0;
        left: 0;
        width: 100%;
    }

    .project__description__para{
        display:none;
    }
    .project__description__links {
        display:flex;  
        justify-content: center;
    }

    .project__description__subtitle {
        text-align: center;
        margin: 12px 0;
    }

    .project__description__title{
        font-size: 32px;
        line-height: 1;
        text-align: center;
    }
}