@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span{
    color: black;
    text-align: center;
    line-height: 1.25;
    padding-bottom: 16px;
}

p {
    font-size: 16px;
    line-height: 1.5 ;
}
li{
    list-style-type: none
}

.flex-1 {
    flex: 1;
}

.flex {
    display: flex;
}

.row{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
 
.text-purple{
    color:#4361ee;
}

section:nth-child(odd){
    background-color:#4362ee5c;
}

.container{
    padding: 50px 0;
}

.section__title{
    margin-bottom: 20px;
}
/* NAVIGATION BAR */

nav{
    height: 100px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list{
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.nav__link--anchor--primary{

    background-color: #4361ee;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
    margin: 0 auto;
}

.nav__link--anchor--primary:hover {
    background-color: #3a0ca3;
    cursor: pointer;
}

.personal__logo {
    font-size: 24px;
    color: #4361ee;
    margin: 0 12px;
    font: bold;
}

/* ABOUT ME TEXT */

#about-me {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
.about-me__info{
    display: flex;
    flex-direction: column;
}
.about-me__info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.about-me__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow:0 8 16 #4361ee;
    margin-bottom: 28px;
}

.about-me__image {
    width: 100%;
}

.about-me__info--title{
    margin-bottom: 16px
}

.about-me__info--para {
    line-height: 1.5;
    font-size: 20px;
    margin-bottom: 28px;
}

.about-me__link{
    font-size: 28px;
    text-decoration: none;
    color: black;
    padding: 0 16px;
}
.about-me__image__container{
    flex: 1;
    display: flex; 
    align-items: center;
    margin-top: 28px;
    margin-bottom: 28px;
}

.about-me__img {
    width: 100%;
}

/* Tech Stack */

.language{
    width:25%;
    display: flex;
    justify-content: center;
    position: relative;
}

.language__image--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.language__image{
    width: 100%;
    max-width: 100px;
    transition: all 300ms ease;
}
.language:hover .language__image{
    filter: brightness(80%);
    transform: scale(.9);
    opacity:0.86;
}
.language__list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.language__name{
    position: absolute;
    padding: 0;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms ease;
    font-size: 20px;
    opacity: 0;
}

.language:hover .language__name{
    transform: scale(1);
    opacity:1;
}